<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leexboo.hotel.mapper.UserMapper">
    <select id="getUser" parameterType="string" resultType="com.leexboo.hotel.model.User">
        select * from user where phone=#{phone} and password=#{password}
    </select>

    <insert id="register">
        insert into user(user_name,password,id_card,phone) values (#{userName},#{password},#{idCard},#{phone})
    </insert>
</mapper>